@charset "utf-8";
@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/config';

.wrapper {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  word-break: keep-all;
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
    .main-section {
      border: 1px solid black;
      width: 100%;
      height: 100vh;
      &.section_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        z-index: 1;
        overflow: hidden;
        .background-wrap {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          .background-cont {
            width: 200%;
            height: 100%;
            position: absolute;
            background: url(../image/main/section1Background.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom;
            animation: backgroundMove 100s linear infinite;
          }
        }
      }
      &.section_2 {
        position: relative;
        z-index: 2;
        background-color: #fff;
      }
      .item-warp {
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
  }
}
.font {
  font-family: fontawesome !important;
  font-weight: 900;
}
