@charset "utf-8";
@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/config';

.wrapper {
  .container {
    .main-section {
      &.section_1 {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        overflow: hidden;
        .background-wrap {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          .background-cont {
            width: 200%;
            height: 100%;
            position: absolute;
            background: url(../image/main/section1Background.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom;
            animation: backgroundMove 100s linear infinite;
          }
        }
      }
      &.section_2 {
        background-color: #fff;
        z-index: 2;
      }
      &.section_3 {
        background-color: #f2eff5;
      }
      &.section_4 {
        background-color: #a7d5f2;
      }
      .item-wrap {
        .inner {
          .content {
            width: 100%;
            max-width: 1500px;
            height: auto;
            position: relative !important;
            margin-top: 60px; //컨텐츠 많아지면 수정
            .skill-gubun {
              margin-bottom: 30px; //컨텐츠 많아지면 수정
              .cont-wrap {
                height: 32px;
                margin: 0 20px;
                justify-content: space-between;
              }
            }
            .time-gubun {
              height: calc(var(--vh, 1vh) * 60) !important;
              .time-wrap {
                width: 100%;
                height: 100%;
                margin: auto;
                // margin: 1.5em 5em;
                overflow: hidden;
                overflow-y: auto;
                &::-webkit-scrollbar {
                  // background-color: #bfbfbf;
                  width: 3px;
                  background-color: transparent;
                }
                &::-webkit-scrollbar-track:vertical {
                  background: -webkit-linear-gradient(
                    180deg,
                    #efefef,
                    #efefef,
                    #efefef,
                    #efefef,
                    #bfbfbf,
                    #bfbfbf,
                    #bfbfbf,
                    #efefef,
                    #efefef,
                    #efefef
                  );
                  border-radius: 10px;
                }
                &::-webkit-scrollbar-thumb {
                  border: 2px solid rgba(255, 255, 255, 0.3);
                  background: #efefef;
                  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1),
                    -4px -4px 6px rgba(255, 255, 255, 1);
                  border-radius: 2em;
                }
                .cont-wrap {
                  height: 60px;
                  justify-content: center;
                  margin: 30px 0;
                  .date {
                    width: 100px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;
                    text-align: left;
                    &::after,
                    &::before {
                      content: '';
                    }
                    &::after {
                      border-radius: 50%;
                      width: 10px;
                      height: 10px;
                      position: absolute;
                      top: 50%;
                      right: 0;
                      transform: translateY(-50%);
                      background-color: dimgray;
                    }
                    &::before {
                      width: 2px;
                      height: 70%;
                      position: absolute;
                      right: 4px;
                      top: 50%;
                      transform: translateY(50%);
                      background-color: dimgray;
                    }
                  }
                  .company,
                  .Language {
                    text-align: left;
                    padding: 5px 0;
                  }
                  .company {
                    border-bottom: 1px solid dimgray;
                  }
                  &:nth-last-child(1) {
                    .date {
                      &::before {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
            .project-gubun {
              height: calc(var(--vh, 1vh) * 60) !important;
              .project-wrap {
                // border: 1px solid red;
                width: 100%;
                height: 100%;
                margin: auto;
                .carousel-3d-container {
                  height: 100% !important;
                  margin: auto !important;
                  overflow: inherit;
                  .carousel-3d-slider {
                    width: 250px !important;
                    height: 100% !important;
                    .carousel-3d-slide {
                      border: none;
                      height: 100% !important;
                      width: 250px !important;
                      background-color: transparent !important;
                      display: flex;
                      flex-direction: column;
                      overflow: inherit;
                      &.left-1 {
                        transform: translateX(-120px) translateZ(-400px)
                          rotateY(35deg) !important;
                      }
                      &.left-2 {
                        transform: translateX(-200px) translateZ(-400px)
                          rotateY(35deg) !important;
                      }
                      &.right-1 {
                        transform: translateX(200px) translateZ(-400px)
                          rotateY(-35deg) !important;
                      }
                      &.right-2 {
                        transform: translateX(120px) translateZ(-400px)
                          rotateY(-35deg) !important;
                      }
                      .cont-con {
                        border: none;
                        border-radius: 14px;
                        height: 54vh;
                        background-color: #fff;
                        box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2),
                          0 7px 10px 1px rgba(0, 0, 0, 0.14),
                          0 2px 16px 1px rgba(0, 0, 0, 0.12);
                        overflow: hidden;
                        .photo-con {
                          height: 40%;
                          background-repeat: no-repeat;
                          background-size: cover;
                          background-position: center;
                        }
                        .txt-con {
                          // border: 2px solid #000;
                          border-radius: 0 0 14px 14px;
                          height: 60%;
                          display: flex;
                          flex-direction: column;
                          justify-content: space-between;
                          padding: 10px;
                          * {
                            color: #000;
                          }
                          .title {
                            h4 {
                              font-size: 4.26667vw;
                              font-weight: 600;
                              text-align: center;
                            }
                            p {
                              font-size: 3.66667vw;
                              font-weight: 600;
                              text-align: center;
                              margin-top: 10px;
                            }
                          }
                          .function-cont {
                            flex-grow: 1;
                            padding: 20px 0;
                            .function-wrap {
                              display: flex;
                              justify-content: space-between;
                              margin-top: 10px;
                              .function-list {
                                display: flex;
                                > div {
                                  border-radius: 20px;
                                  border: 1px solid #bebebe;
                                  width: auto;
                                  height: 20px;
                                  padding: 0 10px;
                                  color: #bebebe;
                                  display: flex;
                                  align-items: center;
                                  margin-left: 5px;
                                  font-size: 3.66667vw;
                                }
                              }
                            }
                          }
                          .skills {
                            border-top: 1px solid #bebebe;
                            height: 80px;
                            padding: 10px 0 0 0;
                            p {
                              color: #000;
                              font-size: 3.66667vw;
                            }
                            > div {
                              display: flex;
                              flex-wrap: wrap;
                              .ico-wrap {
                                border-radius: 20px;
                                width: auto;
                                height: 20px;
                                background-color: #8fadbf;
                                padding-right: 10px;
                                margin: 5px 10px 0 0;
                                display: flex;
                                align-items: center;
                                font-size: 3.2vw;
                                color: #fff;
                                .ico {
                                  border-radius: 50%;
                                  width: 15px;
                                  height: 15px;
                                  margin: 0 5px 0 10px;
                                  text-indent: -9999px;
                                  background-repeat: no-repeat;
                                  background-size: cover;
                                  background-position: center;
                                }
                              }
                            }
                          }
                        }
                      }
                      .txt-btm {
                        border-radius: 8px;
                        width: 100%;
                        height: 5vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #fff;
                        margin-top: 1vh;
                        box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2),
                          0 7px 10px 1px rgba(0, 0, 0, 0.14),
                          0 2px 16px 1px rgba(0, 0, 0, 0.12);
                      }
                    }
                  }
                }
              }
            }
            .skill-gubun {
              margin: 20px auto !important;
            }
            .skill-gubun,
            .time-gubun,
            .project-gubun {
              width: 100%;
              max-width: 1300px;
              height: 100%;
              margin: auto;
              .title-con {
                font-size: 4.26667vw;
                color: #000;
                font-family: 'SeoulHangangM';
                margin-bottom: 5px;
              }
              .cont-wrap {
                * {
                  font-family: 'SeoulHangangM';
                }

                display: flex;
                align-items: center;
                .categories {
                  border-radius: 12px;
                  width: 130px;
                  height: 24px;
                  display: flex;
                  align-items: center;
                  background-color: $main-color;
                  .icon {
                    border-radius: 50%;
                    width: 18px;
                    height: 18px;
                    margin: 0 10px;
                    text-indent: -9999px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                  }
                  span {
                    color: #fff;
                    font-size: 3.2vw;
                  }
                }
                .Fullbar {
                  height: 4px;
                  background-color: #b8ddf5;
                  text-indent: -9999px;
                  flex-grow: 1;
                  margin: 0 2.0833vw;
                  position: relative;
                  .filled_bar {
                    width: 0;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $main-color;
                    transition: 5s;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include desktop {
  .wrapper {
    .container {
      .main-section {
        .item-wrap {
          .inner {
            .content {
              margin-top: 100px; //컨텐츠 많아지면 수정
              .skill-gubun {
                .title-con {
                  font-size: 0.8333vw;
                }
                .cont-wrap {
                  .categories {
                    span {
                      font-size: 0.7813vw;
                    }
                  }
                }
              }
              .time-gubun {
                height: 500px !important;
                padding: 1.5em 5em;
                .time-wrap {
                  .cont-wrap {
                    .date {
                      width: 80px;
                    }
                    .company {
                      font-size: 1.2rem;
                    }
                  }
                }
              }
              .project-gubun {
                .project-wrap {
                  .carousel-3d-container {
                    .carousel-3d-slider {
                      width: 361px !important;
                      .carousel-3d-slide {
                        width: 361px !important;
                        &.left-1 {
                          transform: translateX(-370px) translateZ(-400px)
                            rotateY(35deg) !important;
                        }
                        &.left-2 {
                          transform: translateX(-650px) translateZ(-400px)
                            rotateY(35deg) !important;
                        }
                        &.right-1 {
                          transform: translateX(650px) translateZ(-400px)
                            rotateY(-35deg) !important;
                        }
                        &.right-2 {
                          transform: translateX(370px) translateZ(-400px)
                            rotateY(-35deg) !important;
                        }
                        .cont-con {
                          .txt-con {
                            .title {
                              h4 {
                                font-size: 2rem;
                              }
                              p {
                                font-size: 1rem;
                              }
                            }
                            .function-cont {
                              p {
                                font-size: 14px;
                              }
                              .function-wrap {
                                p {
                                  font-size: 14px;
                                }
                                .function-list {
                                  div {
                                    font-size: 14px;
                                  }
                                }
                              }
                            }
                            .skills {
                              p {
                                font-size: 1rem;
                              }
                              div {
                                .ico-wrap {
                                  font-size: 0.7813vw;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.font {
  font-family: fontawesome !important;
  font-weight: 900;
}
