.stars {
  position: fixed;
  top: -100%;
  width: 200%;
  height: 200%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.star {
  --primary-color: hsl(196, 78%, 61%);
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  -webkit-filter: drop-shadow(0 0 6px currentColor);
          filter: drop-shadow(0 0 6px currentColor);
  -webkit-transform: translate3d(140em, 0, 0);
          transform: translate3d(140em, 0, 0);
  -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
          animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
  .star {
    -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
            animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}

.star:nth-child(1) {
  --star-tail-length: 7.25em;
  --top-offset: 191.82vh;
  --fall-duration: 11.966s;
  --fall-delay: 0.033s;
}

.star:nth-child(2) {
  --star-tail-length: 5.4em;
  --top-offset: 179.11vh;
  --fall-duration: 10.544s;
  --fall-delay: 6.573s;
}

.star:nth-child(3) {
  --star-tail-length: 5.09em;
  --top-offset: 71.84vh;
  --fall-duration: 11.276s;
  --fall-delay: 4.212s;
}

.star:nth-child(4) {
  --star-tail-length: 6.36em;
  --top-offset: 74.23vh;
  --fall-duration: 6.896s;
  --fall-delay: 2.512s;
}

.star:nth-child(5) {
  --star-tail-length: 7.42em;
  --top-offset: 141.74vh;
  --fall-duration: 11.689s;
  --fall-delay: 6.902s;
}

.star:nth-child(6) {
  --star-tail-length: 6.46em;
  --top-offset: 51.39vh;
  --fall-duration: 8.479s;
  --fall-delay: 9.214s;
}

.star:nth-child(7) {
  --star-tail-length: 5.49em;
  --top-offset: 85.12vh;
  --fall-duration: 11.642s;
  --fall-delay: 7.129s;
}

.star:nth-child(8) {
  --star-tail-length: 5.25em;
  --top-offset: 76.44vh;
  --fall-duration: 8.88s;
  --fall-delay: 5.682s;
}

.star:nth-child(9) {
  --star-tail-length: 6.6em;
  --top-offset: 39.43vh;
  --fall-duration: 11.982s;
  --fall-delay: 2.674s;
}

.star:nth-child(10) {
  --star-tail-length: 7em;
  --top-offset: 20.51vh;
  --fall-duration: 8.264s;
  --fall-delay: 5.929s;
}

.star:nth-child(11) {
  --star-tail-length: 6.37em;
  --top-offset: 178.6vh;
  --fall-duration: 10.925s;
  --fall-delay: 0.614s;
}

.star:nth-child(12) {
  --star-tail-length: 7.43em;
  --top-offset: 14.54vh;
  --fall-duration: 10.472s;
  --fall-delay: 9.883s;
}

.star:nth-child(13) {
  --star-tail-length: 7.16em;
  --top-offset: 117.92vh;
  --fall-duration: 6.36s;
  --fall-delay: 4.981s;
}

.star:nth-child(14) {
  --star-tail-length: 6.25em;
  --top-offset: 76.55vh;
  --fall-duration: 10.992s;
  --fall-delay: 3.09s;
}

.star:nth-child(15) {
  --star-tail-length: 7em;
  --top-offset: 57.05vh;
  --fall-duration: 9.521s;
  --fall-delay: 3.64s;
}

.star:nth-child(16) {
  --star-tail-length: 5.96em;
  --top-offset: 161.68vh;
  --fall-duration: 6.481s;
  --fall-delay: 1.26s;
}

.star:nth-child(17) {
  --star-tail-length: 6.02em;
  --top-offset: 6.38vh;
  --fall-duration: 10.71s;
  --fall-delay: 3.564s;
}

.star:nth-child(18) {
  --star-tail-length: 5.82em;
  --top-offset: 129.92vh;
  --fall-duration: 7.984s;
  --fall-delay: 4.668s;
}

.star:nth-child(19) {
  --star-tail-length: 5.83em;
  --top-offset: 22.61vh;
  --fall-duration: 9.187s;
  --fall-delay: 2.734s;
}

.star:nth-child(20) {
  --star-tail-length: 7.24em;
  --top-offset: 22.72vh;
  --fall-duration: 7.597s;
  --fall-delay: 1.982s;
}

.star:nth-child(21) {
  --star-tail-length: 6.93em;
  --top-offset: 125.62vh;
  --fall-duration: 9.423s;
  --fall-delay: 9.766s;
}

.star:nth-child(22) {
  --star-tail-length: 6.35em;
  --top-offset: 130.47vh;
  --fall-duration: 6.133s;
  --fall-delay: 2.84s;
}

.star:nth-child(23) {
  --star-tail-length: 6.89em;
  --top-offset: 150.3vh;
  --fall-duration: 9.555s;
  --fall-delay: 6.515s;
}

.star:nth-child(24) {
  --star-tail-length: 5.18em;
  --top-offset: 98.92vh;
  --fall-duration: 8.854s;
  --fall-delay: 1.603s;
}

.star:nth-child(25) {
  --star-tail-length: 6.82em;
  --top-offset: 107.03vh;
  --fall-duration: 9.925s;
  --fall-delay: 2.039s;
}

.star:nth-child(26) {
  --star-tail-length: 6.08em;
  --top-offset: 156.66vh;
  --fall-duration: 6.66s;
  --fall-delay: 3.318s;
}

.star:nth-child(27) {
  --star-tail-length: 6.88em;
  --top-offset: 34.28vh;
  --fall-duration: 9.55s;
  --fall-delay: 3.514s;
}

.star:nth-child(28) {
  --star-tail-length: 5.39em;
  --top-offset: 65.29vh;
  --fall-duration: 9.128s;
  --fall-delay: 0.344s;
}

.star:nth-child(29) {
  --star-tail-length: 5.87em;
  --top-offset: 147.62vh;
  --fall-duration: 11.081s;
  --fall-delay: 6.878s;
}

.star:nth-child(30) {
  --star-tail-length: 6.35em;
  --top-offset: 181.95vh;
  --fall-duration: 10.576s;
  --fall-delay: 6.144s;
}

.star:nth-child(31) {
  --star-tail-length: 7.41em;
  --top-offset: 146.42vh;
  --fall-duration: 10.52s;
  --fall-delay: 2.969s;
}

.star:nth-child(32) {
  --star-tail-length: 5.92em;
  --top-offset: 177.46vh;
  --fall-duration: 11.872s;
  --fall-delay: 8.278s;
}

.star:nth-child(33) {
  --star-tail-length: 6.1em;
  --top-offset: 66.41vh;
  --fall-duration: 9.597s;
  --fall-delay: 4.906s;
}

.star:nth-child(34) {
  --star-tail-length: 6.29em;
  --top-offset: 177.3vh;
  --fall-duration: 9.33s;
  --fall-delay: 4.074s;
}

.star:nth-child(35) {
  --star-tail-length: 5.91em;
  --top-offset: 31.3vh;
  --fall-duration: 6.323s;
  --fall-delay: 2.318s;
}

.star:nth-child(36) {
  --star-tail-length: 6.89em;
  --top-offset: 13.53vh;
  --fall-duration: 7.912s;
  --fall-delay: 1.473s;
}

.star:nth-child(37) {
  --star-tail-length: 5.1em;
  --top-offset: 16.62vh;
  --fall-duration: 7.535s;
  --fall-delay: 1.154s;
}

.star:nth-child(38) {
  --star-tail-length: 5.77em;
  --top-offset: 152.02vh;
  --fall-duration: 10.333s;
  --fall-delay: 7.963s;
}

.star:nth-child(39) {
  --star-tail-length: 6.66em;
  --top-offset: 175.53vh;
  --fall-duration: 10.723s;
  --fall-delay: 9.352s;
}

.star:nth-child(40) {
  --star-tail-length: 7.17em;
  --top-offset: 21.3vh;
  --fall-duration: 9.958s;
  --fall-delay: 4.898s;
}

.star:nth-child(41) {
  --star-tail-length: 5.79em;
  --top-offset: 77.56vh;
  --fall-duration: 7.771s;
  --fall-delay: 5.107s;
}

.star:nth-child(42) {
  --star-tail-length: 6.27em;
  --top-offset: 1.64vh;
  --fall-duration: 6.581s;
  --fall-delay: 7.017s;
}

.star:nth-child(43) {
  --star-tail-length: 7.48em;
  --top-offset: 54.28vh;
  --fall-duration: 7.726s;
  --fall-delay: 8.489s;
}

.star:nth-child(44) {
  --star-tail-length: 6.53em;
  --top-offset: 50.61vh;
  --fall-duration: 7.274s;
  --fall-delay: 3.824s;
}

.star:nth-child(45) {
  --star-tail-length: 7.01em;
  --top-offset: 106.47vh;
  --fall-duration: 9.954s;
  --fall-delay: 2.02s;
}

.star:nth-child(46) {
  --star-tail-length: 5.7em;
  --top-offset: 2.31vh;
  --fall-duration: 8.485s;
  --fall-delay: 0.922s;
}

.star:nth-child(47) {
  --star-tail-length: 5.35em;
  --top-offset: 19.87vh;
  --fall-duration: 9.908s;
  --fall-delay: 7.625s;
}

.star:nth-child(48) {
  --star-tail-length: 7.07em;
  --top-offset: 143.88vh;
  --fall-duration: 10.066s;
  --fall-delay: 7.209s;
}

.star:nth-child(49) {
  --star-tail-length: 5.97em;
  --top-offset: 59.87vh;
  --fall-duration: 8.039s;
  --fall-delay: 0.515s;
}

.star:nth-child(50) {
  --star-tail-length: 6.85em;
  --top-offset: 190.34vh;
  --fall-duration: 7.498s;
  --fall-delay: 4.892s;
}

.star::before, .star::after {
  position: absolute;
  content: '';
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
}

.star::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.star::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}

@keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}

@-webkit-keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.6;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

#glassmorphism {
  width: 600px;
  height: 400px;
  z-index: 9999;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@-webkit-keyframes rocking {
  0%,
  100% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  50% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
}

@keyframes rocking {
  0%,
  100% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  50% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
}

#glassmorphism .vue-typer {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#glassmorphism .vue-typer span {
  font-size: 2rem;
  font-family: 'SeoulHangangM';
}

#glassmorphism .vue-typer .custom.char.typed {
  color: #fff;
}

#glassmorphism .vue-typer .custom.char.selected {
  color: #e91e63;
}

#glassmorphism .vue-typer .custom.caret {
  -webkit-animation: rocking 1s ease-in-out 0s infinite;
          animation: rocking 1s ease-in-out 0s infinite;
}

#glassmorphism .vue-typer .custom.caret.typing {
  background-color: #009688;
}

#glassmorphism .vue-typer .custom.caret.selecting {
  display: inline-block;
  background-color: #e91e63;
}

.wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  word-break: keep-all;
}

.wrapper .container {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  overflow-y: auto;
}

.wrapper .container .main-section {
  border: 1px solid black;
  width: 100%;
  height: 100vh;
}

.wrapper .container .main-section.section_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  z-index: 1;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.wrapper .container .main-section.section_2 {
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.wrapper .container .main-section .item-warp {
  width: 100%;
  height: 100%;
}

.fa-user {
  font-family: FontAwesome;
}

.fa-user::before {
  content: '\f007';
}
/*# sourceMappingURL=main.css.map */